*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('./assets/bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
a{
    text-decoration: none;
}